body{
    background-color: #e6e6e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

/* START MENU */
.menu {
    min-width: 1270px;
    min-height: 74px;
    background-color: #455bc4;
    padding: 0 62px;
    font-size: 0rem;
}

.menu li {
    display: inline-block;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.menu li:first-child {
    border-left: 0;
}

.menu li:last-child {
    border-right: 0;
}

.menu li::before {
    content: "\25B6";
    font-size: 1rem;
    color:red
}

.menu li a {
    display: inline-block;
    padding: 30px 60px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu li:hover a {
    background-color: #9dc955;
    color: #000;
}

.menu li:active a {
    background-color: white;
    color: red;
}

/* END MENU */