body{
    background-color: #e6e6e6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

/* START MENU */
.menu {
    min-width: 1270px;
    min-height: 74px;
    background-color: #455bc4;
    padding: 0 62px;
    font-size: 0rem;
}

.menu li {
    display: inline-block;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

.menu li:first-child {
    border-left: 0;
}

.menu li:last-child {
    border-right: 0;
}

.menu li::before {
    content: "\25B6";
    font-size: 1rem;
    color:red
}

.menu li a {
    display: inline-block;
    padding: 26px 60px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu li:hover a {
    background-color: #9dc955;
    color: #000;
}

.menu li:active a {
    background-color: white;
    color: red;
}

/* END MENU */

/* START FORM */
.form {
    max-width: 250px;
    max-height: 800px;
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}
.form-heading {
    background-color: aquamarine;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
}

.form-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin: 14px 0 4px;
    cursor: pointer;

}

.form-input {
    padding: 2px 5px;
    border: 2px solid #727272;
    border-radius: 5px;
    outline: none;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.form-vertical label{
    display: block;
}

.btn {
    display: inline-block;
    border: none;
    color: white;
    background-color: #0093fc;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.form-footer {
    margin-top: 10px;
}

.form-input:focus {
    padding: 2px 5px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

.form-input:invalid {
    padding: 2px 5px;
    border: 2px solid #f00;
    border-radius: 5px;
    outline: none;
}

.form-require::after {
    content: "*";
    color: #f00;
}

.btn:hover {
    display: inline-block;
    border: none;
    color: #000;
    background-color: hsl(148, 91%, 74%);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    display: inline-block;
    border: none;
    color: #000;
    background-color: hsl(311, 93%, 77%);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form:has(.form-input:focus){
    max-width: 250px;
    max-height: 800px;
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    border: 3px solid #000;
    border-radius: 10px;
}
/* END REGISTER */

/* START PRICING-TABLE */
.heading-pricing {
    text-align: center;
    margin-top: 100px;
}

.heading-pricing h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.heading-pricing p {
    font-weight: normal;
}

.heading-pricing p:last-child {
    margin-top: 12px;
    font-weight: normal;
}

.content-pricing {
    margin-top: 50px;
    margin-left: 220px;
    min-width: 1200px;
    min-height: 600px;
}

.pricing-table {
    display: inline-block;
    min-width: 24%;
    min-height: 60vh;
    margin-left: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
}

.pricing-table h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.pricing-table strong {
    font-weight: bold;
    font-size: 2rem;
}

.pricing-table ul .content {
    text-transform: capitalize;
    color: #b0b4bd;
    margin-top: 20px;
}

.pricing-table ul .content::before {
    color: #b0b4bd;
    content: "\2713";
    font-size: 1.5rem;
}

.pricing-btn {
    margin-top: 60px;
    min-width: 200px;
    display: inline-block;
    border: none;
    color: #000;
    background-color: #e8e9f0;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.pricing-table:first-child:hover {
    box-shadow: 10px 10px 5px lightblue;;
    background-color: #90f190;
    color: #000;
}

.pricing-table:last-child:hover {
    box-shadow: 10px 10px 5px lightblue;
    background-color: #f37954;
    color: #000;
}
.pricing-table:nth-child(2) {
    background-color: #0093fc;
    box-shadow: 10px 10px 5px lightblue;
}
.pricing-btn:hover {
    background-color: #f195f0;
}
/* END PRICING-TABLE */

/* START BLOG-POST */
.blog-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 800px;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.blog-container .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

.blog-container .avatar-name {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.blog-container h1 {
    margin-top: 100px;
    font-size: 1.4rem;
    text-align: center;
    color: #eb69bd;
}

.blog-content {
    font-size: 2rem;
    margin-top: 10px;
}

.blog-content .img-content {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.blog-comment {
    margin-left: 40px;
}

.your-comment:hover {
    border: 2px solid #000;
}

.blog-comment>input {
    width: 800px;
    height: 20px;
}

.blog-content>p:first-of-type:first-letter{
    font-size: 10rem;
    font-weight: bold;
}

.blog-content > p:first-of-type::selection {
    color: #90f190;
}

.blog-content > blockquote::before {
    content: '"';
}

.blog-content > blockquote::after {
    content: '"';
}

h1:not(.heading-blog) {
    font-size: 1.2rem;
}

.your-comment:nth-of-type(odd) {
    color: #f00;
}

.your-avatar:nth-of-type(odd) {
    color: #eb69bd;
}
/* END BLOG-POST */